@{
    Layout="Shared/_Layout.cshtml";
}

<form action="/results" method="post">
  <div class="form-group">
    <label for="phrase">Enter your phrase:</label>
    <input type="text" name="phrase" id="phrase" required>
  </div>
  <div class="form-group">
    <label for="word1">Enter a word you want to replace:</label>
    <input type="text" name="word1" id="word1" required>
  </div>
  <div class="form-group">
    <label for="word2">Enter the word you want to replace it with:</label>
    <input type="text" name="word2" id="word2" required>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Replace your word!</button>
</form>
